@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #020617; /* Slate 950 */
  }
  ::-webkit-scrollbar-thumb {
    background: #1e293b; /* Slate 800 */
    border-radius: 5px;
    border: 2px solid #020617;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #3b82f6; /* Blue 500 */
  }
}